* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	margin:auto auto auto auto;
}

.clearfix:after {
	content: "";
	display:table;
	clear:both;
}

body{
	font-family: Helvitca neue,Ariel;
	font-size: 18px

}

h1,h2{
	color: black;
	font-family: Helvitca neue,Ariel;
}


h1 {
	font size: 40;
	margin-bottom: 20px;
}


h2 {
	font-size: 20;
	margin-bottom: 10px;
}

p {
	font-size: 18px
	text-align: justify;
	font-family: Helvetica,Ariel;
}

.container {
	width: 1140px;
	margin: 20px auto 0 auto;
}

.banner {
	display: block;
	width: 75%;
	height: auto;
	float:right;
	border-radius: 50%;
}

.leftnav {
	text-align: justify;
	margin-bottom: 40px;
	float:left;
	padding-right: 30px;
}

.leftnavtext {
	margin-bottom: 40px;
	padding-left: 40px
	margin-top:15px;
	margin-left:10px;
}

.content {
	text-align: justify;
	margin-bottom: 20px;
	float:left;
	padding-right: 110px;
}

.footer {
	padding-top :20px;
	border-top:1px solid #80808C;
	font-size: 8;
	text-align: right;

}

.date {
	position: absolute;
	top:10;
	right:0;
}

*{
	border:1px solid red !important;
}