	
	body{
		background-image: url('../image/cgdrums.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	.contactArea{
		position: absolute;
		width: 1100px;
		height: 400px;
		left: 50%;
		top: 150px;
		margin-left: -550px;
		font-family: Myriad Pro regular;
		color: #000;
		font-weight: bold;
		border: 1px solid black;
		border-radius: 25px;
		opacity: 0.9;
		background-color: white;
	}
	#inner{
		position: absolute;
		width: 250px;
		font-family: Myriad Pro regular;
		top: 130px;
		left: 50%;
		margin-left: 140px;
		font-size: 20px;	
	}
	.inputField{
		width: 250px;
	}
	#messageTextArea{
		position: absolute;
		width: 250px;
		font-family: Myriad Pro regular;
		top: 120px;
		left: 0%;
		margin-left: 0px;
		font-size: 16px;
		color: gray;
	}
	#contactTitle{
		position: absolute;
		width: 60px;
		top: 20px;
		left: 50%;
		margin-left: -350px;
		font-size: 32px;
		font-family: Myriad Pro regular;
		color: #fff;
	}
	#w3Padding{
		padding-left: 32px;
		margin-top: 50px;
	}
	#submit{
		margin-top: 60px;
		float: right;
		width: 80px;
	}
	@media (max-width: 980px){
		body{
			background-size: auto;
		}
		.contactArea{	
			width: 800px;
			margin-left: -400px;
		}
		#inner{
			margin-left: 0px;	
		}
		#submit{
			margin-top: 60px;
		}
	}
	@media (max-width: 800px){
		.contactArea{	
			width: 700px;
			margin-left: -350px;
		}
		#inner{
		
			margin-left: -50px;	
		}
		#submit{
			margin-top: 8px;
		}
	}
	@media (max-width: 700px){
		.contactArea{	
			width: 650px;
			margin-left: -325px;
		}
		#inner{
			margin-left: -37px;	
		}
		#submit{
			margin-top: 8px;
		}
	}
	@media (max-width: 600px){
		.contactArea{	
			width: 500px;
			margin-left: -250px;
			top: 90px;
			height: 530px;
		}
		#inner{
			top: 235px;
			margin-left: -115px;
			width: 250px;			
		}
		#submit{
			margin-top: 50px;
			
		}
		#w3Padding{
			padding-left: 82px;
			margin-top: -10px;
		}
	}
	@media (max-width: 500px){
		.contactArea{	
			width: 400px;
			margin-left: -200px;
		}
		#w3Padding{
			padding-left: 39px;
		}
	}
	@media (max-width: 400px){
		.contactArea{	
			width: 350px;
			margin-left: -175px;
			top: 70px;
			height: 550px;
		}
		#inner{
			top: 270px;			
		}
		#w3Padding{
			padding-left: 60px;
		}
	}
	
	
	
	
	
	
	
	